*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    background-color: rgb(82, 75, 75);
    height: 100vh;
}


h1{
    text-align: center;
    margin-top:50px;
    margin-bottom:30px;
}
.text1{ 
    color: rgb(3, 3, 34);
}
.text2{
    color: rgb(247, 196, 55);
}
/* understaning positioning read more */
body{
    padding: 40px ;
    background-image:url(../OIP.jpg);
    position:relative;
    top: 100px;
    left: 400px;
    width: 30vw;
    height: 80vh;
    border-radius: 10px 0px;
}
input[type=text]{
    width:100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;  
}
/* can i make all the input selctor be together */
input[type=text]:focus{
    background-color: +rgb(161, 161, 179);
}
input[type=button],input[type=submit],input[type=reset]{
    background-color: orangered;
    color: rgb(253, 253, 253);
    padding: 8px 30px;
    margin-top:20px;
    border-radius: 5px;
    margin-left: 100px;
}

